---
import { Picture } from "astro:assets";
import { urlFor } from "@/sanity/image";
import { sanityClient } from "sanity:client";
import Main from "@/layouts/Main.astro";
const dribble = await sanityClient.fetch(`*[_type == "dribble"] | order(order)`);

Astro.response.headers.set("Cache-Control","public, max-age=0, must-revalidate",);
Astro.response.headers.set("Netlify-CDN-Cache-Control","public, durable, s-maxage=86400, stale-while-revalidate=604800",);
Astro.response.headers.set("Netlify-Cache-Tag", "dribble-list");
---

<Main title="Dribble Covers" header="Dribble Covers">
<div class="w-full">
<div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 lg:gap-8 md:gap-4 gap-6 relative">
{dribble.map((item:any) => (
<a href={`/massage/dribble covers/${item.slug?.current}`} >
<figure>
<Picture class="max-w-full overflow-hidden" src={urlFor(item.futon).format('webp').sharpen(80).url()} inferSize alt={item.title} />
<figcaption class="py-4" >
<div class=" text-base uppercase text-red-600 text-center">
{item.title}
</div>
<div class="text-sm text-red-700">
{item.description}
</div>
</figcaption>
</figure>
</a>
))}
</div>
</div>
</Main>