---
import Base from '@/layouts/Base.astro';
import { PortableText } from 'astro-portabletext';
import { urlFor } from '../sanity/image';
import { sanityClient } from "sanity:client";
const contact = await sanityClient.fetch(`*[_type == "contact"]`)

---

<Base title="Contact" header="Contact" >


<div class="contact relative lg:flex md:flex lg:justify-between md:justify-between  w-full">
{contact.map((c: any) => (

<div class="image lg:order-2 md:order-2 w-full lg:w-1/3 md:w-1/3 ml-0 lg:ml-6 md:ml-6 mb-4 lg:mb-8 md:mb-8 clear-both">
<img src={urlFor(c.image).url()} alt={c.title} /> 
</div>

<div class="prose prose-zinc  lg:order-1 md:order-1 lg:w-2/3 md:w-2/3 w-full max-w-none">
<PortableText  value={c.content} />
</div>


))}
</div> 


</Base>