---
import Base from '@/layouts/Base.astro';
import { PortableText } from 'astro-portabletext';
import { sanityClient } from "sanity:client";
const shipping = await sanityClient.fetch(`*[_type == "shipping"]`)

---

<Base title="Delivery" header="Delivery" >


<div class="py-8  w-full">
{shipping.map((s: any) => (

<div class="prose  text-zinc-600 max-w-none">
<PortableText  value={s.content} />
</div>


))}
</div> 


</Base>