---
import BaseHead from '@/components/BaseHead.astro';
import SnipCart from '@/components/SnipCart.astro';
const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" >
<head>
<BaseHead description={description} ogImage={image} title={title} />
</head>
<body  class="flex flex-col items-center h-screen">
<div class="content w-full px-6 lg:px-32 md:px-16 flex-grow">

<slot />
</div>
<SnipCart/>
</body>
</html>

